@import "../../styles/Variables.scss";

.tags-list {
  margin: 3rem;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;


  .tag-item {
    @include tag;
    font-size: 1.8rem;
    margin: 1rem;                           
  }
  .tag-item:hover {
    color: $buttonColorHover;
    cursor: default;
  }
}
