body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: linear-gradient(left, rgb(83, 28, 40), rgb(113, 132, 216));
  background-image: -o-linear-gradient(left, rgb(83, 28, 40), rgb(113, 132, 216));
  background-image: -moz-linear-gradient(left, rgb(83, 28, 40), rgb(113, 132, 216));
  background-image: -webkit-linear-gradient(left, rgb(83, 28, 40), rgb(113, 132, 216));
}




