@import "../../styles/Variables.scss";

.notes-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  .notes-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border: 1px solid $fontsColor;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    color: $fontsColor;
    font-family: $fontGoogle;
    .btn {
        button {
            @include btn;
            font-size: 1.2rem;
            padding: 0.7rem;
            margin: 1rem;
          }
          button:hover {
            background-color: $buttonColorHover;
          }
    }
  }
}
