//Colors
$fontsColor: #ebdfdf;
$buttonColor: maroon;
$buttonColorHover: rgb(16, 24, 99);

//font
$fontGoogle: "Open Sans", sans-serif;

//mixins

@mixin btn() {
  background-color: $buttonColor;
  color: $fontsColor;
  border-radius: 0.5rem;
  border: none;
  font-family: $fontGoogle;
}

@mixin tag() {
  color: $fontsColor;
  font-family: $fontGoogle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
